set -e
dotenv
# workaround to use_node function not working,
# see: https://github.com/direnv/direnv/issues/319#issuecomment-1591378617
echo "Exporting envvars for Node version $(cat ./.node-version)"
load_prefix $HOME/.nvm/versions/node/v$(cat ./.node-version)